{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Déconnexion{% endblock %}

{% block h1 %}Déconnexion{% endblock %}

{% block body %}
  <p>Vous êtes bien déconnecté</p>
{% endblock %}