{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - CGU{% endblock %}

{% block metaDescription %}
    <meta name="description" content="Ceux sont nos conditions générales d'utilisations du garage Vincent Parrot. Vous trouverez ici le détail de l'utilisation de vos données, de la gestion de ce site, ainsi que toutes les informations relatives aux données sensibles.">
{% endblock %}

{% block body %}
{% if 'ROLE_ADMIN' in user.roles %}
    {% include "admin/_header.html.twig" %}
{% elseif 'ROLE_USER' in user.roles %}
    {% include "employes/_header.html.twig" %}
{% else %}
     Aucun des rôles n'est présent, peut-être un utilisateur non authentifié 
{% endif %}
    {# {% if user.roles != ['ROLE_ADMIN', 'ROLE_USER']  %} 
        {% include "admin/_header.html.twig" %} 
    {% else %}
        {% include "users/_header.html.twig" %} 
    {% endif %}   #}
    
    {% block main %}
<body 
  class="flex-column bg-black text-white" 
  style="
    {# padding-top: 4rem; #}
    width: 100%; 
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
  " 
> 
<main class="container text-center">
<h1 class="text-center m-4">Conditions générales d'utilisation</h1>
<div class="bg-black bg-opacity-50 p-3 rounded">
<h3>1. Conditions générales d’utilisation du site et des services proposés.</h3>
<h4>En vigueur au 04/09/2023</h4>
<p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique
des modalités de mise à disposition du site et des services par Ets X et de définir les
conditions d’accès et d’utilisation des services par « l'Utilisateur ».
</p>

<h4>b. Description des services fournis</h4>
<p>Le site lorangebleue.fr a pour objet de fournir une information concernant l’ensemble des services et prestations de l’enseigne l’Orange bleue et ses marques dérivées ainsi que sur les sociétés exploitant sous l’enseigne L’ORANGE BLEUE.
OB RESEAUX s’efforce de fournir sur le site lorangebleue.fr des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers qui lui fournissent ces informations.
Toutes les informations indiquées sur le site lorangebleue.fr sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site lorangebleue.fr ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

<h1>Article 1 : Les mentions légales</h1>
<h6>L’édition et la direction de la publication du site Garage Vincent Parrot est assurée par Vincent Parrot,
domicilié 6 rue de Jardin 31100 Toulouse.</h6>
<h6>Numéro de téléphone est 0148474010</h6>
<h6>Adresse e-mail garage@info.com</h6>

<p>L'hébergeur du site Garage-v-parrot est la société Garage Vincent Partot, dont le siège social est situé
au 6 rue de Jardin 31100 Toulouse, avec le numéro de téléphone : 0148474010.</p>

<h1>ARTICLE 2 : Accès au site</h1>
<p>Le site Garage-v-parrot permet à l'Utilisateur un accès gratuit aux services suivants :
Le site internet propose les services suivants :
Le site a pour but de présenter ses services de réparation, carrosse, révision et voiture d’occasions.
Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les
frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion
Internet, etc.) sont à sa charge</p>

<h1>ARTICLE 3 : Collecte des données</h1>
<p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
et aux libertés.</p><br>

<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
exerce ce droit :</p>

<h4>c. Interruption temporaire ou définitive du site</h4>
<p>OB RESEAUX se réserve le droit d’interrompre le site, notamment si ce dernier constitue un danger pour le maintien de la sécurité de la plate-forme d’hébergement, que ce soit suite à un piratage dudit site, ou à la suite d’une non-installation de mise à jour d’application ayant pour conséquence la détection d’une faille dans la sécurité du système. OB RESEAUX s’engage à rétablir la connexion, si elle est possible, dans les meilleurs délais.
OB RESEAUX ne pourra être tenue pour responsable à quelque titre que ce soit quant à la suppression partielle ou définitive du site concerné.
OB RESEAUX ne pourra être tenue responsable envers les partenaires licenciés, affiliés ou autres de l’introduction d’un virus informatique sur le Service.</p>



<h1>ARTICLE 4 : Propriété intellectuelle</h1>
<p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet
d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
<br>
<p>L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des
différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé,
toute utilisation à des fins commerciales et publicitaires est strictement interdite.</p>

<p>Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation
expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2
et suivants du Code de la propriété intellectuelle.</p>
<br>
<p>Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui
reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.</p>

<h1>ARTICLE 5 : Responsabilité</h1>
<br>

<p>Les sources des informations diffusées sur le site Garage-v-parrot sont réputées fiables mais le site
ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
<br>
<p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle.
Malgré des mises à jour régulières, le site Garage-v-parrot ne peut être tenu responsable de la
modification des dispositions administratives et juridiques survenant après la publication. De même, le
site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans
ce site.
Le site Garage-v-parrot ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter
l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au
téléchargement provenant de ce site.</p>
<br>
<p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
insurmontable d'un tiers.</p>
<br>
<h1>ARTICLE 6 : Liens hypertextes</h1>
<br>

<p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces
liens, il sortira du site Garage-v-parrot. Ce dernier n’a pas de contrôle sur les pages web sur
lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>
<br>
<h1>ARTICLE 7 : Cookies</h1>
<br>
<p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement
sur son logiciel de navigation.
</p>
<br>
<p>Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de
l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site Garage-v-parrot. Les
cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier
quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains
cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.</p>
<br>
<p>L’information contenue dans les cookies est utilisée pour améliorer le site Garage-v-parrot.</p>
<p>En naviguant sur le site, L’Utilisateur les accepte.
L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son
logiciel de navigation.</p>
<br>
<h1>ARTICLE 8 : Publication par l’Utilisateur</h1>
<br>
<p>Le site permet aux membres de publier les contenus suivants :
Avis.</p>
<p>Dans ses publications, le membre s’engage à respecter les règles de la Netiquette (règles de bonne
conduite de l’internet) et les règles de droit en vigueur.</p><br>
<p>Le site peut exercer une modération sur les publications et se réserve le droit de refuser leur mise en
ligne, sans avoir à s’en justifier auprès du membre.</p><br>
<p>Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une
publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter,
reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé,
dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété
intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les
réseaux de téléphonie mobile.</p><br>
<p>La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa
publication.</p><br>
<p>Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne
pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes.</p><br>
<p>Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l'Utilisateur.</p><br>
<p>Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié
par le site, sans préavis.</p><br><br>

<h1>ARTICLE 9 : Droit applicable et juridiction compétente</h1>

<p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un
litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux
coordonnées inscrites à l’ARTICLE 1.</p><br>
</div>
</main>
{% endblock %}
{% include "admin/_footer.html.twig" %}
</body>
{% endblock %}