{% extends 'base.html.twig' %}

{% block title %}Atelier de services{% endblock %}

{% block body %}

	{% include 'home/_navbar.html.twig' %}

<main class="container mt-5">
	<div class="container px-4 py-4 bg-opacity-50 rounded" id="hanging-icons">
		<h2 class="pb-2 border-bottom">Nos services</h2>
	</main>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 ">
        <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140"  src="/assets/img/atelier/car1.jpg" alt="Image" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="text-center py-2">Service carrosserie</h2>
        <p class="text-center">Vous pouvez profiter de notre services carrosserie rapide.</p>
        <p class="text-center"><a class="btn btn-lg btn-danger" data-toggle="popover"  href="#"> »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140"  src="/assets/img/atelier/mec2.jpg" alt="Image" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="text-center py-2">Service mécanique</h2>
        <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p class="text-center"><a class="btn btn-secondary" href="#"> »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140"  src="/assets/img/atelier/rev3.jpg" alt="Image" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="text-center py-2">Révision annuelle</h2>
        <p class="text-center">And lastly this, the third column of representative placeholder content.</p>
        <p class="text-center"><a class="btn btn-lg btn-danger" data-toggle="popover" href="#"> »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



  <div class="container marketing mt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140"  src="/assets/img/atelier/4det.jpg" alt="Image" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="text-center py-2">Service pièces détachées</h2>
        <p class="text-center">Vous pouvez profiter de notre services carrosserie rapide. Another exciting bit of representative placeholder content.</p>
         <p class="text-center"><a class="btn btn-secondary" href="#"> »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140"  src="/assets/img/atelier/5vid.jpg" alt="Image" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="text-center py-2">Service vidange</h2>
        <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p class="text-center"><a class="btn btn-lg btn-danger" data-toggle="popover"  href="#"> »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle mx-auto d-block" width="140" height="140"  src="/assets/img/atelier/6par.jpg" alt="Image" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="text-center py-2">Service pare-brise</h2>
        <p class="text-center">And lastly this, the third column of representative placeholder content.</p>
        <p class="text-center"><a class="btn btn-secondary" href="#"> »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider mt-5">

    <div class="row featurette">
      <div class="col-md-7 mt-5">
        <h2 class="featurette-heading fw-normal lh-1">SERVICE <span class="text-body-secondary">CARROSSERIE</span></h2>
        <p class="lead">Nous vous proposons une large gamme de services afin de répondre au mieux à vos besoins : vente de véhicules d'accasions, réparateur agrée, pièces détachées, réparateur toutes marques ...</p>
      </div>
      <div class="col-md-5 mt-5">
       <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/assets/img/atelier/1rep.jpg" alt="Image" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
       <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
      </div>
    </div>

    <hr class="featurette-divider mt-5">

    <div class="row featurette mt-5">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">SERVICE <span class="text-body-secondary">MECANIQUE</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/assets/img/atelier/2rep.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
      </div>
    </div>

    <hr class="featurette-divider mt-5">

    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">SERVICE <span class="text-body-secondary">REVISION</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/assets/img/atelier/3rep.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  </div>
    </div>
      </div>

       <!-- Bouton de retour à la liste -->
<div class="container mt-3">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin') }}" class="btn btn-secondary">Retour à la liste</a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('app_employes') }}" class="btn btn-secondary">Retour à la liste</a>
    {% else %}
      <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à la liste</a>
        {# <p>Erreur : Impossible de déterminer le rôle de l'utilisateur.</p> #}
    {% endif %}
		</main>

  </div>
    </div>
      </div>
    {# <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"></script> #}
 
    <!-- FOOTER -->
    {% include "home/_footer.html.twig" %} 

{% endblock %}