{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Créer les horaires</h2>
                <div class="mb-3"></div>
                <form method="post">
                    {{ include('services/horaires/_form.html.twig') }}
                    <div class="text-center mt-3">
                        {# <button type="submit" class="btn btn-primary">Enregistrer</button> #}
                        {# <a href="{{ path('app_voitures_index') }}" class="btn btn-secondary">Retour à la liste</a> #}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
